<div class="container">

  <div class="row">
    <div class="col-md-6">
    <br>
    <br>
    <br>
      <img src="/imgs/logo.png" style="width: 100%; height: 500px"  alt="background">
    </div>  
    <div class="col-md-6 text-center" >
    <h1> Choose Your Player</h1></div>
    <br>
    <div class="col-md-3 text-center" >
      <form class="navbar-form navbar-left" role="search" id="inputs" action="/characters" method="POST">
              <div class="form-group">
                <input type="image" src="/imgs/torchGif.gif" style="width: 100%; height: 100%" class="form-control" 
                id="playerSelection">
                <h2>Mage</h2>
                    <input type="hidden" name="name" value="Mage">
                    <input type="hidden" name="hp" value= 20>
                    <input type="hidden" name="total_hp" value= 20>
                    <input type="hidden" name="attack" value= 0>
                    <input type="hidden" name="damage" value= 0>
                    <input type="hidden" name="defense" value= 6>
                    <input type="hidden" name="xp" value= 0>
                    <input type="hidden" name="exp" value= 0>
                    <input type="hidden" name="lvl" value= 1>
                    <input type="hidden" name="potions" value= 5>
                    <input type="hidden" name="gold" value= 100>
                    <input type="hidden" name="defGoldNeed" value= 15>
                    <input type="hidden" name="dmgGoldNeed" value= 15>
                    <input type="hidden" name="accuGoldNeed" value= 15>
                    <input type="hidden" name="potionGoldNeed" value= 10>
                    <input type="hidden" name="enemiesKilled" value= 0>
              </div>
             </form>
             </div>

    <div class="col-md-3 text-center" >
      <form class="navbar-form navbar-left" role="search" id="inputs" action="/characters" method="POST">
              <div class="form-group">
                <input type="image" src="/imgs/torchGif.gif" style="width: 100%; height: 100%" class="form-control" 
                id="playerSelection">
                <h2>Knight</h2>
                    <input type="hidden" name="name" value="Knight">
                    <input type="hidden" name="hp" value= 20>
                    <input type="hidden" name="total_hp" value= 20>
                    <input type="hidden" name="attack" value= 0>
                    <input type="hidden" name="damage" value= 0>
                    <input type="hidden" name="defense" value= 6>
                    <input type="hidden" name="xp" value= 0>
                    <input type="hidden" name="exp" value= 0>
                    <input type="hidden" name="lvl" value= 1>
                    <input type="hidden" name="potions" value= 5>
                    <input type="hidden" name="gold" value= 100>
                    <input type="hidden" name="defGoldNeed" value= 15>
                    <input type="hidden" name="dmgGoldNeed" value= 15>
                    <input type="hidden" name="accuGoldNeed" value= 15>
                    <input type="hidden" name="potionGoldNeed" value= 10>
                    <input type="hidden" name="enemiesKilled" value= 0>
              </div>
             </form>
             </div>         
 </div>  
