<div class="container">
    <div class="row jumbotron">
        <div class="col-sm-3" id="playerAttacks">
            <h2>Player Attacks</h2>
        </div>
        <div class="col-sm-6" id='enemyBox'>
            <h2>Enemy Box</h2>
        </div>
        <div class="col-sm-3" id='enemyAttacks'>
            <h2>Enemy attacks</h2>
        </div>
    </div>
    <div class="row jumbotron" id='playerStats'>
        <div class="col-sm-4">
            <h3>stats</h3>
        </div>
        <div class="col-sm-4" id='playerInfo'>
            <h3>player info</h3>
        </div>
        <div class="col-sm-4" id='playerUpgrades'>
            <h3>store/upgrades</h3>
        </div>
    </div>
</div>