<form class="navbar-form navbar-left" action="/auth" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="USERNAME" name="name">
    </div>
    <div class="form-group" >
        <input class="form-control" placeholder="PASSWORD" name="password" action="/auth" method="POST">
    </div>
    <button type="submit" class="btn btn-default" style="width: 110px">Log in</button>
</form>