<form class="navbar-form navbar-left" id="auth" action="/" method="GET">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="USERNAME" name="name" id="">
        <input type="text" class="form-control" placeholder="PASSWORD" name="password" id="">
    </div>
</form>