body {
  text-align: center;
	font-family: 'Press Start 2P', cursive !important;
	color: #ffb800 !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  font-size: 18px;
  line-height: 34px;
  background:#161616
}
.container {
  margin: 0
}

.jumbotron{
	background-color:#444 !important;
	border:1px solid #666;
	padding: 25px 25px 25px 25px !important;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px black;
}

#inputs {
  align-items: center
}

h1 {
  color: white
}

#navbrand{
	font-size: 14pt;
	font-family: 'Press Start 2P', cursive;
	color: #ffb800;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

form {
  /* position: absolute; */
  font-size: 24px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  /* background:#161616; */
  border: 2px solid #8F0E0E;
  text-underline-position: none;
  overflow: hidden;
  float: left;
  text-align: center;
  z-index: 1
}

form:before {
content: "";
position: absolute;
top: 0;
left: -100%;
width: 90%;
height: 100%;
/* background: #161616; */
transition: .20s ease-in-out;
float: left;
z-index: -1;
}

form:hover:before {
  left: 0;
  right: 0;
  background: #8F0E0E;
}


span {
  transition: .25s ease-in-out;
  z-index: 1;
}

form:hover span{
  color: #fff;
}

.form-control:hover {
background: #DAD2D2
}